In [58]:
class Employee:
    emp_count = 0
    def __init__(self,emp_id,name,salary,department,designation,contact,gender):
        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department
        self.designation =  designation
        self.contact = contact
        self.gender = gender


        Employee.emp_count+=1
    
    def display_emp_details(self):
        print("EMP_ID:{}\nNAME:{}\nSALARY:{}\nDEPARTMENT:{}\nDESIGNATION:{}\nCONTACT:{}\nGENDER:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender))

In [62]:
class Manager(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_subordinates):
        Employee.__init__(self,emp_id,name,salary,department,"Manager",contact,gender)
        self.num_of_subordinates = num_of_subordinates
        
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("SUBORDINATES",self.num_of_subordinates)

In [63]:
bharat = Manager(1,"Bharat","20LPA","Product","34525235","M",10)

In [64]:
bharat.display_emp_details()

EMP_ID:1
NAME:Bharat
SALARY:20LPA
DEPARTMENT:Product
DESIGNATION:Manager
CONTACT:34525235
GENDER:M
SUBORDINATES 10

In [20]:
shubham = Employee(1,"Shubham","12LPA","Product","SDE1","2348458234","M")

In [26]:
shubham.display_emp_details()

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [27]:
Employee.display_emp_details(shubham)

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [21]:
shubham.emp_count

1

In [22]:
namratha = Employee(2,"Namrata","12LPA","Product","SDE1","214152535345","F")

In [23]:
namratha.emp_count

2

In [24]:
shubham.emp_count

2

In [7]:
shubham.display_emp_details()

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [8]:
namratha.display_emp_details()

EMP_ID:2
NAME:Namrata
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:214152535345
GENDER:F

Create a class Student of Edyoda institute.where every object stores details of that student .
Also have a display_student_details method to get details of student.
Have a class variable institute_name as "Edyoda"
Create student id on the basis of the number of objects/students that have been created so far

shubham: student_id = 1
rahul: student_id = 2
namratha = student_id = 3

In [38]:
class Student:
    institute_name = "Edyoda"
    student_count = 1
    def __init__(self,name,age,degree):
        self.student_id = Student.student_count
        Student.student_count+=1
        self.name = name
        self.age = age
        self.degree = degree
        self.institute = Student.institute_name
        
    def display_student_details(self):
        print("student_id : {}\nname : {}\nage : {}\ndegree : {}\ninstitue : {}".format(self.student_id,self.name,self.age,self.degree,self.institute))

In [39]:
shubham = Student("Shubham",22,"BTech")

In [40]:
shubham.display_student_details()

student_id : 1
name : Shubham
age : 22
degree : BTech
institue : Edyoda

In [41]:
sathwik = Student("Sathwik",22,"Bachelors")

In [42]:
sathwik.display_student_details()

student_id : 2
name : Sathwik
age : 22
degree : Bachelors
institue : Edyoda

In [43]:
rahul = Student("Rahul",26,"Btech")

In [44]:
rahul.display_student_details()

student_id : 3
name : Rahul
age : 26
degree : Btech
institue : Edyoda